.flowchartPage{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.FlowchartContainer{
    flex-grow: 1;
    height: 100%;
    border: 1px solid #ccc;
}

.sidebar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 200px;
    max-width: 250px;
    height: 100%;
    padding:2rem 1rem;
    background-color:rgb(247, 248, 250);
}

.sidebar button{
    padding: 8px 12px;
    background-color:#055C9D;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.sidebar button:hover{
    background-color:#0675ca;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.sidebar p{
    padding: 1rem 0;
    font-size: 14px;
}

.sidebar label{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.sidebar input{
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 4px;
    font-size: 14px;
    border: 1px solid rgb(189, 189, 189);
    transition: border 0.3s ease-in-out;
}
  
.sidebar input:hover{
    border: 1px solid rgb(71, 70, 70);
}


.saveButtonContainer{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.saveButtonContainer button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
    padding: 8px 12px;
    background-color: #055C9D;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.saveButtonContainer button:hover{
    background-color:  #055b9ddf;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.toggleButton {
    display: none;
}

@media (max-width: 768px) {
    .sidebar {
        padding-top: 4rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 10;
        transform: translateX(-100%);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  
    .open {
      transform: translateX(0);
    }
  
    .closed {
      transform: translateX(-100%);
    }
  
    .toggleButton {
        display: block;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 11;
      background: #ffffff;
      padding: 8px;
      border: none;
      cursor: pointer;
      border-radius: 4px;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
  }